*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
ul{
	list-style: none;
}
.banner-container{
	overflow: hidden;
	height: 530px;
	color: #fff;
	text-align: center;
	background: url(123.png) no-repeat;
	background-size: cover;
}
.banner-container h2{
	margin-top: 100px;
	font-size: 35px;
}
.banner-container p{
	padding: 30px 0;
}
.banner-container a{
	display: inline-block;
	width: 158px;
	height: 35px;
	color: #fff;
	line-height: 35px;
	border: 1px solid #fff;
}
.banner-container a.active{
	background: blue;
	border: 1px solid blue;
}
.banner-wrap{
	width:1180px ;
	margin:0 auto ;
}
.banner-list{
	margin-top: -40px;
}
.banner-list li{
	float: left;
	width: 280px;
	padding: 30px 0;
	text-align: left;
	background: #fff;
}
.banner-list li + li{
	margin-left: 20px;
}
.banner-list li h3{
	margin-left:30px;
	font-size:21px;
	color:#333;
	font-weight: 500;
	line-height: 26px;
}
.banner-list li p{
	margin: 30px;
	font-size: 14px;
	color: #666;
}